@model IEnumerable<WypozyczalniaGier.Models.Rental>

<h2>Twoje wypożyczone gry</h2>
<table class="table">
    <thead>
        <tr>
            <th>Tytuł gry</th>
            <th>Data wypożyczenia</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rental in Model)
        {
            <tr>
                <td>@rental.GameTitle</td>
                <td>@rental.RentalDate.ToString("dd-MM-yyyy")</td>
            </tr>
        }
    </tbody>
</table>
