html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #f5f5dc; /* Kościsty kolor dla tła */
}

.navbar, .footer {
  background-color: #f5f5dc; /* Kościsty kolor dla nawigacji i stopki */
}

/* Dodatkowe style dla nagłówków */
h1, h2, h3, h4, h5, h6 {
  color: #333; /* Ciemniejszy kolor dla nagłówków */
  font-family: 'Arial', sans-serif; /* Zmieniamy czcionkę dla nagłówków */
}
